html, body, #root {
  height: 100%; /* Устанавливаем высоту на 100% */
  width: 100%; /* Устанавливаем ширину на 100% */
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем внутренние отступы */
  font-family: cursive;
  box-sizing: border-box; /* Важно для контроля размеров */
  background-color: #f0f0f0; /* Светло-серый фон */
}

* {
  margin: 0; /* Убираем отступы для всех элементов */
  padding: 0; /* Убираем внутренние отступы для всех элементов */
  box-sizing: border-box; /* Устанавливаем box-sizing для всех элементов */
}